################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevopsLabApi
/DevopsLabApi/obj
/DevopsLabApi/bin/Debug/net8.0
/DevopsLabApiTests/bin/Debug/net8.0
/DevopsLabApiTests/obj
/.vs/ProjectEvaluation
